---
import Layout from "../layouts/Layout.astro"

console.log('javascript')
---

<Layout tittle="Blog">
    <section class="mt-20">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-[#6D6A6A] sm:text-lg font-sans">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold font-playfair text-black">Fiesta de las Flores de Guatemala!</h2>
                <p class="mb-4">En Chrishop, no solo nos apasiona crear hermosas composiciones florales, sino también conectar con otras 
                    personas que comparten este amor por el arte de las flores. Este año, tuvimos el honor de ser invitados a participar 
                    en el "Festival de Flores de Guatemala", un evento único donde las calles se transformaron en un vibrante lienzo de 
                    colores y creatividad. <br> <br>

                    Este evento, que reúne a los mejores floristas y artistas del mundo floral, celebró la tradición de la floricultura a través de espectaculares exhibiciones y elaboradas decoraciones florales que adornaron las principales avenidas de la ciudad. Fue una experiencia inolvidable, llena de inspiración, arte y cultura.
                </p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg" src="/src/assets/img/bento.jpg" alt="office content 1">
                <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/src/assets/img/bento1.jpg" alt="office content 2">
            </div>
        </div>
    </section>
</Layout>