---
console.log('javascript')
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y Condiciones">

    <section class="bg-pink py-16 px-8 mt-36">
        <div class="max-w-4xl mx-auto text-center">
          <h1 class="text-4xl font-semibold text-gray-900">Términos y Condiciones</h1>
          <p class="mt-4 text-lg text-gray-600">¡Bienvenido a nuestra página web! Antes de usar nuestros servicios, asegúrate de leer cuidadosamente los siguientes términos y condiciones.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink3">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">1. Aceptación de los Términos</h2>
          <p class="mt-4 text-lg text-gray-700">Bienvenido a Chrishop, su floristería en línea especializada en flores, snacks, frutas, globos y accesorios para mujer. Estos Términos y Condiciones rigen el acceso y uso de nuestro sitio web y los servicios que ofrecemos. Al acceder y utilizar este sitio, usted acepta cumplir con estos términos en su totalidad.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">2. Uso del Sitio Web</h2>
          <p class="mt-4 text-lg text-gray-700">Este sitio web ha sido creado exclusivamente para mostrar y ofrecer información sobre los productos disponibles en la tienda Chrishop. Los productos disponibles en el sitio incluyen, pero no se limitan a, flores, snacks, frutas, globos y accesorios para mujer. Este sitio está destinado a fines informativos y no realiza transacciones comerciales directas en línea.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink3">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">3. Privacidad y Protección de Datos</h2>
          <p class="mt-4 text-lg text-gray-700">En Chrishop nos comprometemos a proteger la privacidad de nuestros usuarios. Sin embargo, es importante señalar que en este sitio no solicitamos ningún dato personal sensible o privado, excepto si usted decide llenar el formulario de contacto disponible. La información proporcionada en el formulario será utilizada únicamente para responder a sus consultas o solicitudes. No recopilamos, almacenamos ni compartimos información personal sin el consentimiento explícito del usuario.</p>
        </div>
      </section>

      <section class="py-8 bg-pink">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">4. Propiedad del Contenido</h2>
          <p class="mt-4 text-lg text-gray-700">Todo el contenido de este sitio web, incluidos pero no limitados a textos, imágenes, logotipos, gráficos y materiales multimedia, es propiedad de Chrishop o sus respectivos propietarios y está protegido por leyes de derechos de autor, marcas comerciales y otras leyes de propiedad intelectual. Queda estrictamente prohibido el uso no autorizado de cualquier contenido de este sitio.

            Algunas de las fuentes tipográficas, iconos y recursos visuales utilizados en este sitio son de uso libre y se obtuvieron de páginas web con licencias abiertas. Dichos recursos se utilizan de acuerdo con las condiciones de sus respectivas licencias y están indicados como tales en el sitio web. Los usuarios deben asegurarse de respetar las licencias de uso de estos recursos al utilizar este sitio web.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink3">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">5. Responsabilidad</h2>
          <p class="mt-4 text-lg text-gray-700">Chrishop se esfuerza por garantizar que la información mostrada en el sitio web sea precisa y esté actualizada. Sin embargo, no garantizamos la precisión, completitud ni la disponibilidad continua de la información en el sitio. El uso de este sitio web y de los servicios que ofrecemos es bajo su propio riesgo. Chrishop no será responsable de cualquier daño directo, indirecto, incidental o consecuente derivado del uso o la imposibilidad de uso de este sitio web.

            Chrishop no se hace responsable de los daños que puedan surgir debido a errores técnicos, virus o problemas en la conexión a Internet que puedan interferir en el acceso al sitio. Además, no somos responsables de ningún daño o perjuicio que se derive de interacciones con terceros a través de este sitio.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">6. Modificación de los Términos</h2>
          <p class="mt-4 text-lg text-gray-700">Nos reservamos el derecho de modificar o actualizar estos Términos y Condiciones en cualquier momento sin previo aviso. Cualquier cambio será publicado en esta página y tendrá efecto inmediato. Le recomendamos que revise periódicamente estos términos para mantenerse informado de cualquier modificación.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink3">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">7. Uso Exclusivo</h2>
          <p class="mt-4 text-lg text-gray-700">Este sitio web está diseñado y es de uso exclusivo para la propietaria de Chrishop. Está prohibido el uso no autorizado, copia o reproducción del contenido de este sitio fuera del contexto de la tienda.</p>
        </div>
      </section>
      
      <section class="py-8 bg-pink">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">8. Información de Contacto</h2>
          <p class="mt-4 text-lg text-gray-700"></a>Si tiene preguntas sobre estos Términos y Condiciones, no dude en ponerse en contacto con nosotros a través del formulario de contacto disponible en el sitio web. Estamos disponibles para aclarar cualquier duda relacionada con el uso de nuestro sitio.</p>
        </div>
      </section>

      <section class="py-8 bg-pink3">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-3xl font-semibold text-gray-900">8. Desarrolladores de la Página Web</h2>
          <p class="mt-4 text-lg text-gray-700">La página web de Chrishop fue desarrollada como parte de un proyecto universitario de la Universidad Católica de Honduras. El desarrollo de este sitio fue llevado a cabo por los estudiantes Juan Turcios y Cristian Rosales.</p>
        </div>
      </section>
      
      
</Layout>