---
console.log('javascript')
---


<div class="text-center my-8">
    <h2 class="text-4xl font-bold text-black font-playfair">Lo Que Ofrecemos</h2>
</div>

<div class="grid md:grid-cols-3 max-w-screen-lg mx-auto gap-10 mt-16 px-5">
    
    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flower"><circle cx="12" cy="12" r="3"/><path d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"/><path d="M12 7.5V9"/><path d="M7.5 12H9"/><path d="M16.5 12H15"/><path d="M12 16.5V15"/><path d="m8 8 1.88 1.88"/><path d="M14.12 9.88 16 8"/><path d="m8 16 1.88-1.88"/><path d="M14.12 14.12 16 16"/></svg></span> 
        <div>
            <h3 class="font-bold text-xl font-playfair">Detalles con Flores Naturales</h3>
            <p class="mt-1 text-[#6D6A6A]">Arreglos florales personalizados y frescos para expresar tus sentimientos en cualquier ocasión.</p>
        </div>
    </div>

    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-donut"><path d="M20.5 10a2.5 2.5 0 0 1-2.4-3H18a2.95 2.95 0 0 1-2.6-4.4 10 10 0 1 0 6.3 7.1c-.3.2-.8.3-1.2.3"/><circle cx="12" cy="12" r="3"/></svg></span>
        <div>
            <h3 class="font-bold text-xl font-playfair">Snacks</h3>
            <p class="mt-1 text-[#6D6A6A]">Agrega un toque especial a tus arreglos con una selección de snacks dulces y salados.</p>
        </div>
    </div>


    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-apple"><path d="M12 20.94c1.5 0 2.75 1.06 4 1.06 3 0 6-8 6-12.22A4.91 4.91 0 0 0 17 5c-2.22 0-4 1.44-5 2-1-.56-2.78-2-5-2a4.9 4.9 0 0 0-5 4.78C2 14 5 22 8 22c1.25 0 2.5-1.06 4-1.06Z"/><path d="M10 2c1 .5 2 2 2 5"/></svg></span>
        <div>
            <h3 class="font-bold text-xl font-playfair">Frutas</h3>
            <p class="mt-1 text-[#6D6A6A]">Ofrecemos canastas de frutas frescas que pueden incluirse con arreglos florales o como un detalle independiente.</p>
        </div>
    </div>

    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gem"><path d="M6 3h12l4 6-10 13L2 9Z"/><path d="M11 3 8 9l4 13 4-13-3-6"/><path d="M2 9h20"/></svg></span>
        <div>
            <h3 class="font-bold text-xl font-playfair">Accesorios de Plata Italy 9.25</h3>
            <p class="mt-1 text-[#6D6A6A]">Encuentra elegantes piezas de plata Italy 9.25 que complementan nuestros arreglos y canastas.</p>
        </div>
    </div>

    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-briefcase-business"><path d="M12 12h.01"/><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"/><path d="M22 13a18.15 18.15 0 0 1-20 0"/><rect width="20" height="14" x="2" y="6" rx="2"/></svg></span>
        <div>
            <h3 class="font-bold text-xl font-playfair">Carteras</h3>
            <p class="mt-1 text-[#6D6A6A]">Sorprende con estilo. Ofrecemos carteras de moda que pueden combinarse con flores y otros detalles para un regalo memorable y con personalidad.</p>
        </div>
    </div>

    <div class="flex gap-4 items-start flex-col ">
        <span class="text-pink2 bg-pink3 p-3 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-party-popper"><path d="M5.8 11.3 2 22l10.7-3.79"/><path d="M4 3h.01"/><path d="M22 8h.01"/><path d="M15 2h.01"/><path d="M22 20h.01"/><path d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10"/><path d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11c-.11.7-.72 1.22-1.43 1.22H17"/><path d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98C9.52 4.9 9 5.52 9 6.23V7"/><path d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z"/></svg></svg></span>
        <div>
            <h3 class="font-bold text-xl font-playfair">Globos con Helio</h3>
            <p class="mt-1 text-[#6D6A6A]">Añade globos con helio a tus arreglos para dar un toque festivo y colorido.</p>
        </div>
    </div>
</div>
